<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 " style="width:100%;height:100%;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>나의 관리비</h1>
    </div>
    <div>
        나의 관리비
    </div>
</main>