<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 " style="width:100%;height:100%;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>로그인</h1>
    </div>
    <div class="border" style="width:90%; height:25%;margin:10% auto">
        <form action="/login" method="POST" class="form text-center mt-5">
            <div class="form-group row">
                <label for="inputUserNo" class="col-sm-2 col-form-label text-right">사용자코드</label>
                <div class="col-sm-9">
                    <input type="text" name="userNo" class="form-control" id="inputUserNo" placeholder="사용자코드">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label text-right">비밀번호</label>
                <div class="col-sm-9">
                    <input type="password" name="userPw" class="form-control" id="inputPassword" placeholder="비밀번호">
                </div>
            </div>
            <input class="btn btn-success" type="submit" value="로그인">
        </form>
    </div>

</main>