<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 " style="width:100%;height:100%;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>게시판</h1>
    </div>
    <div>
        <table class="table">
            <tr style="text-align:center;">
                <th style="width:10%;">#</th>
                <th style="width:60%;">제목</th>
                <th style="width:20%;">작성자</th>
                <th style="width:10%;">등록일</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</main>