<div class="container-fluid" style="width:100%;height:93.8%;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark row">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.jpg" width="50" height="30" class="d-inline-block align-top" alt="">
            e편한세상-센텀
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/users/userInfo">
                        <%=store.user.userName%>
                        (
                        <%=store.user.userNo%> ) <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">로그아웃 <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div id="navbarSupportedContent" class="ml-auto">
            <img src="/images/apt_logo.png" width="50" class="rounded mx-auto d-block" alt="...">
        </div>
    </nav>
    <div class="row text-center bg-white" style="width:100%;height: 100%;">
        <div class="col-md-2 d-none d-md-block bg-dark sidebar sidebar-sticky accordion border-0 text-white" id="navi"
            style="width:100%;">
            <div class="card bg-dark">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#myPage"
                            aria-expanded="true" aria-controls="myPage">
                            <i class="fas fa-user-circle "></i>&nbsp;
                            관리자 관리
                        </button>
                    </h5>
                </div>
                <div id="myPage" class="collapse text-right" aria-labelledby="headingOne" data-parent="#navi">
                    <div class="card-body" link>
                        <a href="/users/userInfo" class="text-white">
                            나의 정보
                        </a>
                    </div>
                    <div class="card-body ">
                        <a href="/users/userMember" class="text-white">
                            관리자 목록
                        </a>
                    </div>
                    <div class="card-body ">
                        <a href="/users/myReserve" class="text-white">
                            관리자 추가
                        </a>
                    </div>
                    <div class="card-body ">
                        <a href="/users/behcle" class="text-white">
                            관리자 삭제
                        </a>
                    </div>
                    <div class="card-body ">
                        <a href="/users/visit" class="text-white">
                            방문 차량 관리
                        </a>
                    </div>
                    <div class="card-body ">
                        <a href="/users/myMgt" class="text-white">
                            나의 관리비
                        </a>
                    </div>
                </div>
            </div>
            <div class="card bg-dark">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
                            data-target="#community" aria-expanded="false" aria-controls="community">
                            <i class="fas fa-satellite-dish"></i>&nbsp;
                            커뮤니티
                        </button>
                    </h5>
                </div>
                <div id="community" class="collapse" aria-labelledby="headingTwo" data-parent="#navi">
                    <div class="card-body text-right">
                        <a href="/community/notice" class="text-white">
                            공지사항
                        </a>
                    </div>
                    <div class="card-body text-right">
                        <a href="/community/group" class="text-white">
                            소모임
                        </a>
                    </div>
                    <div class="card-body text-right">
                        <a href="/community/board" class="text-white">
                            자유 게시판
                        </a>
                    </div>
                </div>
            </div>
            <div class="card bg-dark">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
                            data-target="#vote" aria-expanded="false" aria-controls="vote">
                            <i class="fas fa-vote-yea"></i>&nbsp;
                            투표
                        </button>
                    </h5>
                </div>
                <div id="vote" class="collapse" aria-labelledby="headingThree" data-parent="#navi">
                    <div class="card-body text-right">
                        <a href="/vote/userVote" class="text-white">
                            주민 투표
                        </a>
                    </div>
                    <div class="card-body text-right">
                        <a href="/vote/groupVote" class="text-white">
                            소모임 투표
                        </a>
                    </div>
                </div>
            </div>
            <div class="card bg-dark">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
                            data-target="#Facility" aria-expanded="false" aria-controls="Facility">
                            <i class="fas fa-file-signature"></i>&nbsp;
                            시설 이용
                        </button>
                    </h5>
                </div>
                <div id="Facility" class="collapse" aria-labelledby="headingThree" data-parent="#navi">
                    <div class="card-body text-right">
                        <a href="/facility" class="text-white">
                            시설 보기
                        </a>
                    </div>
                    <div class="card-body text-right">
                        <a href="/facility/reserve" class="text-white">
                            시설 예약
                        </a>
                    </div>
                    <div class="card-body text-right">
                        <a href="/facility/rating" class="text-white">
                            시설 만족도 평가
                        </a>
                    </div>
                    <div class="card-body text-right">
                        <a href="/facility/problem" class="text-white">
                            시설 하자 접수
                        </a>
                    </div>
                </div>
            </div>

            <div class="card bg-dark">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
                            data-target="#alliance" aria-expanded="false" aria-controls="alliance">
                            <i class="fas fa-calendar-check"></i>&nbsp;
                            제휴업체
                        </button>
                    </h5>
                </div>
                <div id="alliance" class="collapse" aria-labelledby="headingThree" data-parent="#navi">
                    <div class="card-body text-right">
                        <a href="" class="text-white">
                            제휴 업체 보기
                        </a>
                    </div>
                    <div class="card-body text-right">
                        <a href="" class="text-white">
                            제휴 업체 이벤트
                        </a>
                    </div>
                </div>
            </div>
            <div class="card bg-dark">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
                            data-target="#Mgt" aria-expanded="false" aria-controls="Mgt">
                            <i class="fas fa-chart-line"></i>&nbsp;
                            관리비
                        </button>
                    </h5>
                </div>
                <div id="Mgt" class="collapse" aria-labelledby="headingThree" data-parent="#navi">
                    <div class="card-body text-right">
                        <a href="/mgt/totalMgt" class="text-white">
                            전체 관리비
                        </a>
                    </div>
                    <div class="card-body text-right">
                        <a href="/mgt/budget" class="text-white">
                            예산 관리
                        </a>
                    </div>
                    <div class="card-body text-right">
                        <a href="/mgt/payment" class="text-white">
                            지출 관리
                        </a>
                    </div>
                </div>
            </div>
            <div style="position:absolute;bottom:0;">
                Copyright &copy; 2018 Apartment Management
            </div>
        </div>